<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
<link rel="stylesheet" href="style.css">
    <title>MaxAi</title>
  </head>
  <body>
    <img src="logo.png" alt="Front door image" width="10%" height="auto">

    <div class="div" >
     <form action="#" method="post">
    	<p>Add new face!</p>
    	<p><input type="text" name="nm" placeholder="Name" /></p>
    	<p><input type="submit" value="submit"/></p>
     </form>
    <img src="../door.jpg" alt="Front door image" width="30%" height="auto" >
     <p>Known Faces:</p>
       <p>{{ kfn }}</p>
     </div>


      <div class="nav list-rest">
        <i class="inline-block  col-3  bi bi-person-circle"></i>
        <i class="inline-block  col-3  bi bi-gear-fill"></i>
        <i class="inline-block   col-3  bi bi-bell-fill"></i>
      </div>
  </body>
</html>
